log*/*
papers/*
res/*
TAGS
submit_grid_stub.sh.o*
tmp_cooccur_en
tex/mvppdb.aux
tex/mvppdb.log
tex/mvppdb.pdf
*.o[0-9]*
*.e[0-9]*
*.po[0-9]*
*.pe[0-9]*
v5_indisvd_dir/*
tmp*
glove_*train_*code*
word2vec_*train_*code*
all_logs
some_analysis
