.DS_Store
log*/*
papers/*
TAGS
submit_grid_stub.sh.o*
*.o[0-9]*
*.e[0-9]*
*.po[0-9]*
*.pe[0-9]*
tmp*
glove_*train_*code*
word2vec_*train_*code*
all_logs
some_analysis
*.aux
*.log
*.out
*.snm
*.toc
*.bbl
*.blg
*.nav
*.out
*.sol
*sample.bib
*synctex.gz
*.pyc
tex/auto
tex/.DS_Store
tex/mvppdb.pdf
tex/mvppdbPresentation.pdf
tex/one_page_abstract/acl2014.pdf
tex/poster/main.pdf
tex/poster/mvppdb_poster.pdf
tex/themath.pdf
tex/themath_generative.pdf
*\#