/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_1~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_2~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_3~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_4~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_5~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_6~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_7~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_8~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_9~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_10~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_11~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_12~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_13~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_14~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_polyglotwiki_cooccurence_15~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_bitext_cooccurence_ar~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_bitext_cooccurence_cs~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_bitext_cooccurence_de~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_bitext_cooccurence_es~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_bitext_cooccurence_fr~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_bitext_cooccurence_zh~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_advmod~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_agent~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_amod~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_conj_and~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_conj_but~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_dobj~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_nsubj~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_pobj~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_as~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_at~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_between~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_by~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_for~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_from~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_in~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_of~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_on~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_to~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_prep_with~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_rcmod~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_agigastandep_cooccurence_xsubj~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_fnppdb_cooccurence_l~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_fnppdb_cooccurence_xl~mc~CountPow025-trunccol12500~500~1e-5.mat
/export/a14/prastog3/PROCESS_COUNT/v5_indisvd_morphology_cooccurence_inflection~mc~CountPow025-trunccol12500~500~1e-5.mat
